@use "../../../styles/variables" as var;

.form-fields-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.ruta-navegacion {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;

  border-radius: 8px;
  overflow-x: auto;
}

.btn-navegacion {
  background: none;
  border: none;
  color: var.$color-principal-estudio;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 4px 8px;
  border-radius: 4px;
}

.btn-navegacion:hover {
  background-color: #e8eaf6;
}

.separador-ruta {
  color: #666;
  margin: 0 4px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-input {
  padding: 12px;
  border: 2px solid var.$color-principal-cliente;
  border-radius: 8px;
  font-size: 1rem;
  width: 100%;
  transition: all 0.3s ease;
  color: white;
}

.form-input:focus {
  outline: none;
  border-color: var.$color-principal-estudio;
}

.codigo-sugerido {
  color: white;
  font-size: 1rem;
  font-weight: 400;
}

.lista-categorias {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.categoria-item {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var.$color-principal-cliente;
}

.categoria-info {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}

.categoria-codigo {
  color: var.$color-principal-cliente;
  font-weight: 600;
  margin-left: 10px;
}

.categoria-nombre {
  color: var.$color-principal-estudio;
  font-weight: 600;
}

.categoria-acciones {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.btn-agregar-subcategoria,
.btn-navegar {
  background-color: var.$color-principal-estudio;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.btn-navegar {
  background-color: #2b3371;
}

.btn-agregar-subcategoria:hover,
.btn-navegar:hover {
  opacity: 0.9;
}

.lista-subcategorias {
  list-style: none;
  padding: 0;
  margin: 8px 0 0 24px;
}

.subcategoria-item {
  padding: 8px;

  border-radius: 6px;
  border: 1px solid var.$color-principal-cliente;
  margin-top: 8px;
}
