@use "../../../styles/variables" as var;

.formulario-categoria {
  padding: 20px;
  background-color: transparent !important;
  box-shadow: none !important;
  text-align: center !important;
}

.icono-centrado {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Espacio entre el icono y el input */
}

.icono-agregar {
  font-size: 30px; /* Tamaño del icono */
  color: var.$color-principal-estudio;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.icono-agregar:hover {
  color: white; /* Cambia de color al pasar el mouse */
  transform: scale(1.3); /* Efecto de escala */
}

.icono-agregar:active {
  transform: scale(1); /* Reduce la escala al hacer clic */
}

.input-container {
  width: 100%; /* Asegura que el input ocupe todo el espacio disponible */
}

.alerta-error {
  color: #c62828 !important;
  border-radius: 8px !important;
  margin-bottom: 16px !important;
  position: relative !important;
  z-index: 2 !important;
  background-color: var.$color-fondo-estudio !important;
  border: 1px solid #c62828 !important;
}

.alerta-success {
  color: #2e7d32 !important;
  border-radius: 8px !important;
  margin-bottom: 16px !important;
  position: relative !important;
  z-index: 2 !important;
  background-color: black !important;
  border: 1px solid #2e7d32 !important;
}
