@use "../../../styles/variables" as var;

.pagina-ingresos-container-1 {
  display: flex; /* Flexbox para alinear elementos */
  align-items: center; /* Alinea verticalmente */
  justify-content: center; /* Centra horizontalmente */
  flex-wrap: wrap; /* Permite que los elementos se ajusten en caso de falta de espacio */
  text-align: center;
  margin-top: 20px;
}

.notification {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 1000;
}
