@use "../../styles/variables" as var;

.dashboard-container {
  margin-bottom: 3rem;
  padding: 1rem;
  background-color: var.$color-fondo-estudio;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.graficos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

.grafico-item {
  height: 85%;
  width: 98%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  background-color: var.$color-fondo-estudio;

  h3 {
    color: var.$color-principal-cliente;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0.5rem;
    font-weight: 400;
  }
}

.dashboard-loading {
  text-align: center;
  color: white;
  padding: 2rem;
  font-size: 1.2rem;
}

.dashboard-header {
  margin-bottom: 1rem;
  text-align: center;
  background-color: var.$color-fondo-estudio;
}

.header-line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  background-color: var.$color-fondo-estudio;
}

.line-left,
.line-right {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  flex: 1;
}

.dashboard-title {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  white-space: nowrap;
}

@media (max-width: 1200px) {
  .graficos-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .graficos-grid {
    grid-template-columns: 1fr;
  }
}
