@use "../../../styles/variables" as var;

.pagina-ingresos-container-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 20px;
}

.ingresos-registro-titulo {
  font-size: 2.2rem;
  color: var.$color-principal-estudio;
  margin-top: 10px;
  margin-left: 25px;
  font-weight: 600;
}

/* este no esta asignado pero esta bueno 

.registro-ingresos-parrafo-1 {
  text-align: center;
  font-size: 1.3rem;
  color: #40b5a6;
  margin-top: 10px;
} */

.seleccion-categorias-container {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  text-align: center;
}

.ruta-navegacion {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
  padding: 10px;
  border-radius: 5px;
}

.boton-volver {
  padding: 8px 16px;
  background-color: var.$color-principal-cliente;
  color: var.$color-fondo-estudio;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.boton-volver:hover {
  background-color: var.$color-principal-estudio;
  color: white;
}

.boton-registrar {
  padding: 8px 16px;
  background-color: var.$color-principal-estudio;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.boton-registrar:hover {
  background-color: var.$color-principal-cliente;
  color: var.$color-fondo-estudio;
}

.ruta-seleccion {
  flex-grow: 1;
  font-size: 1.2rem;
}

.categoria-seleccionada {
  color: var.$color-principal-estudio;
  font-weight: 700;
}

.grid-categorias {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.boton-categoria {
  padding: 5px;
  background-color: var.$color-principal-cliente;
  color: var.$color-fondo-estudio;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease;
  width: 100%;
}

.boton-categoria:hover {
  background-color: var.$color-principal-estudio;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
}

.boton-categoria:active {
  transform: translateY(0);
}
