@use "./styles/variables" as var;

* {
  margin: 0px;
  padding: 0px;
  background-color: var.$color-fondo-estudio;
}

body {
  background-color: var.$color-fondo-estudio;
}

.app-container {
  padding-top: 80px;
  min-height: 100vh;
  background-color: var.$color-fondo-estudio;
}
